[user]
    name = Dustin Heeg

[diff]
    tool = nvimdiff

[difftool]
    prompt = true

[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
    tool = "nvim"

[mergetool]
    keepBackup = false
    prompt = false

[mergetool "nvim"]
    cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[init]
    defaultBranch = main

[pull]
    rebase = false

[core]
    editor = nvim
